@import "/src/scss/variables/colors";
@import "/src/scss/common";

.rcw-conversation-container {
  font-family: "Inter", "sans-serif";
  .rcw-header {
    background-color: $black;
    border-radius: 10px 10px 0 0;
    color: $primary;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px;
  }

  .rcw-title {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
  }

  .rcw-subtitle {
    font-size: 14px;
  }

  .chatsession_content {
    position: absolute;
    top: 15%;
    left: 30px;
    width: 300px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background: white;
    z-index: 20;
    overflow: scroll;
  }

  .rcw-header-action {
    display: flex;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .chatsession_btn {
    background: transparent;
    color: $primary;
    border: none;
    cursor: pointer;
  }

  .rcw-call-button {
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    width: 32px;
    height: 32px;
    background-color: $primary;
    color: $black;
    border: 0;
  }

  .avatar {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin-right: 10px;
    vertical-align: middle;
  }
}

.rcw-full-screen {
  .rcw-header {
    @include header-fs;
  }

  .rcw-title {
    @include title-fs;
  }

  .rcw-close-button {
    @include close-button-fs;
  }

  .rcw-close {
    @include close-fs;
  }
}

@media screen and (max-width: 800px) {
  .rcw-conversation-container {
    .rcw-header {
      @include header-fs;
    }

    .rcw-title {
      @include title-fs;
    }

    .rcw-close-button {
      @include close-button-fs;
    }

    .rcw-close {
      @include close-fs;
    }
  }
}
